name: SummaryLearning
channels:
  - pytorch
  - nvidia
  - conda-forge
dependencies:
  - python=3.10
  - pytorch
  - torchvision
  - torchaudio
  - pytorch-cuda=12.1
  - numpy
  - scipy
  - pandas
  - matplotlib
  - seaborn
  - tqdm
  - jupyter
  - pip
  - pip:
    - bayesflow
    - sbi
    - pyabc
    - POT
    - arviz
    - keras
